#divHeader {
    background-color: #80010c;
    margin-bottom: 30px;
    color: white;
    padding: 20px;
    font-size: 25px;
    height: 50px;
}

#divFooter {
    height: 100px;
}

.question {
    font-size: 20px;
}

.btn-submit,
.btn-next {
    background-color: #ba1430;
    color: white;
    /* padding: */
}

#divOutput .card {
    margin: 20px;
}

.hidden {
    display: none;
}

tr>.no-line {
    border-top: none;
}

tr>.no-line {
    border-bottom: none;
}

tr>.thick-line {
    border-top: 2px solid;
}

#background {
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#divHeaderHome {
    background-color: #80010c;
    color: white;
    padding: 20px;
    font-size: 25px;
    height: 50px;
    margin-top: none;
}

.start {
    width: 300px;
    height: 60px;
    background-color: #595959;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(255, 253, 253);
    font-size: 35px;
    font-family: 'Times New Roman';
    font-stretch: semi-expanded;
    padding: 1px;
    color: white;
    letter-spacing: 3px;
    /* font-weight: bold; */
}

button:hover {
    background-color: #999999;
}

.button {
    opacity: .75;
    filter: alpha(opacity=50);
    border-style: solid;
    border: 10px white;
    top: 70%;
    left: 40%;
    position: absolute;
}